.card {
  background: #2a2a2a;
  border-radius: 14px;
  padding: 12px;
  text-align: center;
  color: white;
  width: 80%;
  height: 100%;
  transition: 0.2s;
  cursor: pointer;
}

.card:hover {
  border: 2px solid #00ff00;
}

.card img {
  width: 100%;
  height: clamp(90px, 10vw, 140px);
  object-fit: cover;
  border-radius: 10px;
}

.likeButton {
  margin-top: 8px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: clamp(12px, 1vw, 16px);
}

.active {
  border: 2px solid #00ff00;
  box-shadow: 0 0 12px #00ff00;
}
