html {
  font-size: clamp(12px, 1vw, 18px);
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;

  background: url("../media/background.jpg") no-repeat center center;
  background-size: cover;

  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.panel {
  display: flex;
  background: rgba(30, 30, 30, 0.85);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: clamp(15px, 2vw, 30px);
  width: clamp(320px, 90vw, 1400px);
  height: clamp(500px, 80vh, 900px);
  gap: clamp(20px, 2vw, 40px);
}

.left {
  flex: 1.3;
  display: flex;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}
.searchContainer {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  flex-shrink: 0;
  margin-bottom: 15px;
}

.searchIcon {
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border: 2px solid #00ff00;
  border-radius: 50%;
}

.searchIcon::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  background: #00ff00;
  bottom: -4px;
  right: -5px;
  transform: rotate(45deg);
}

.search {
  padding: 10px 14px 10px 45px;
  border-radius: 12px;
  border: 1px solid #00ff00;
  background: transparent;
  color: #00ff00;
  font-size: clamp(14px, 1vw, 18px);
  height: clamp(40px, 3vw, 50px);
  width: 100%;
}

.search::placeholder {
  color: #00ff00;
  opacity: 1;
}

.search:focus {
  outline: none;
  border: 1px solid #00ff00;
  box-shadow: 0 0 5px #00ff00;
}

.search:focus-visible {
  outline: none;
}

.noResults {
  color: #00ff00;
  text-align: center;
  width: 100%;
  font-size: clamp(14px, 1vw, 18px);
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: clamp(12px, 1.2vw, 20px);
  row-gap: 50px;

  width: 100%;
  height: 100%;

  overflow-y: auto;
}

.grid::-webkit-scrollbar {
  display: none;
}

.gridContainer {
  flex: 1;
  position: relative;
  display: flex;
  min-height: 0;
}

.arrow {
  position: absolute;
  right: -10px;
  width: 35px;
  height: 35px;
  background: #7a7a7a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow::before {
  content: "";
  width: 8px;
  height: 8px;
  border-left: 2px solid white;
  border-top: 2px solid white;
  transform: rotate(45deg);
}

.arrow.up {
  top: 0;
}

.arrow:hover::before {
  border-color: #00ff00;
}

.arrow:active {
  background: #4a4a4a;
}

.arrow:active::before {
  border-color: #00ff00;
}

.arrow.down {
  bottom: 0;
  transform: rotate(180deg);
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.status {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.7);
  padding: 6px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: clamp(12px, 1vw, 16px);
  color: white;
}

.dot {
  width: 10px;
  height: 10px;
  background: #00ff00;
  border-radius: 50%;
}

.infoOverlay {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  box-sizing: border-box;

  background: rgba(0, 0, 0, 0.65);
  padding: 15px;

  border-radius: 0 0 12px 12px;
}

.infoOverlay h2 {
  color: #00ff00;
  font-size: clamp(18px, 1.5vw, 26px);
  margin: 0;
}

.infoOverlay p {
  font-size: clamp(12px, 1.1vw, 16px);
  margin: 3px 0;
  color: #ccc;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: clamp(20px, 3vw, 50px);

  margin-top: 12px;
  flex-wrap: nowrap;
}

.stats div {
  text-align: center;
  min-width: 80px;
}

.stats span {
  color: #00ff00;
  font-size: clamp(24px, 1vw, 16px);
}

.stats p {
  font-size: clamp(12px, 1vw, 16px);
}

.dot.alive {
  background: #00ff00;
}

.dot.dead {
  background: #ff3b3b;
}

@media (max-width: 768px) {
  .panel {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
  }
}

.right > *:last-child {
  flex-shrink: 0;
  margin-top: 10px;
}
